# docker-compose up
# sudo podman compose up
# Look to Mongo-Express at http://localhost:8081

services:
#  app:
#    container_name: app
#    image: app
#    ports:
#      - "8000:8000"
#    networks:
#     - app
#    build:
#      context: ../
#      dockerfile: ./infra/Dockerfile
#    env_file:
#      - .env
#    depends_on:
#      - db

  db:
    container_name: db
    image: postgres:15.3-bookworm
    ports:
      - "5432:5432"
    networks:
      - db
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}']
      interval: 5s
      timeout: 5s
      retries: 5
    env_file:
      - .env
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
  
  pgadmin:
    container_name: pgadmin4_container
    image: dpage/pgadmin4
    ports:
      - "5000:80"
    networks:
      - db
    restart: always
    env_file:
      - .env
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
    depends_on: 
      - db

networks:
  db:

#  app:
volumes:
  pgdata: {}